.caja{
    text-align: center;
}
#uno{
    text-align: center;
}
.cuadro{
     border-style:double; 
     text-align: center;
}
.class{
    padding: 200px;
    margin: 200px;
}
#dos{
    text-align: center;

}
input:hover{
    background-color: greenyellow;
}
#tres{
    text-align: center;

}
